.blog-content {
  margin: 0px 12px;
    border-radius: 16px;
    border: 1px solid rgba(110, 110, 110, 1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 40px;
  }
  
  .blog-heading {
    color: #3b3c3c;
    font-family: 'Aktiv Grotesk Bold',sans-serif;
    font-weight: bold;
    font-size: 69px;
  }
  
  .blog-paragraph {
    color: #282727;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  