.launchpad-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.item {
    width: 100%;
    flex-wrap: wrap;
}

.launchpad-heading {
    color: #3b3c3c;
    font-family: 'Aktiv Grotesk Bold', sans-serif;
    font-size: 39.96px;
}

/* Mobile view */
@media (max-width: 767px) {
    .launchpad-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .item {
        width: 100%;
    }

    .launchpad-heading {
        font-size: 23.33;
    }
}