.launchpad-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
}

.item {
    border: 1px solid rgba(110, 110, 110, 0.5);
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding:10px 40px;
}

.launchpad-heading {
    color: #3b3c3c;
    font-family: Aktiv;
    font-size: 39.96px;
}

.launchpad-para {
    justify-content: center;
    font-family: 'Merriweather';
    font-size: 23.12px;
    line-height: 46px;
    letter-spacing: 1%;
    color: #282727;
}

/* Mobile view */
@media (max-width: 767px) {
    .launchpad-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .item {
    }

    .launchpad-heading {
        font-size: 23.33px;
    }

    .launchpad-para {
        font-size: 16px;
        line-height:30px;
    }
}