
.programinfo > .post-card  {
    background-color: #DAEAF6;
}

.program-para {
    padding: 20px ;
    color: #282727;
    font-size: 18px;
    line-height: 2.8;
    margin-bottom: 20px;
}
.check-tick {
    margin-right: 15px;
}
.none-style-ul {
    margin-left: -25px;
    list-style-type: none;
}


@media (max-width: 768px) {
    .program-para {
        color: #282727;
        margin-left:15px !important;
    }

    .check-tick {
        font-size: 10;
    }

}