.skills {
    position: relative;
    height: 83px;
}

.skills-heading {
    font-family: 'AktivGrotesk-Bold';
    font-size: 69.05px;
    line-height: 83px;
    color: #3B3C3C;
}
.skills-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);    
    gap: 20px;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .skills-items {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
}