.skills {
    position: relative;
    margin-top: 20px;
}

.skills-heading {
    font-weight: bold;
    font-size: 69px;
    margin-bottom: 20px;
}

.skills-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .skills-heading {
        font-size: 45px;
        margin-bottom: 10px;
        text-align: center;
    }

    .skills-items {
        grid-template-columns: repeat(2, 1fr);
    }
}