.tools {
    position: relative;
}

.tools-heading {
    font-family: 'AktivGrotesk-Bold';
    font-size: 59px;
    margin-bottom: 11px;
    line-height: 83px;
    color: #3B3C3C;
}

.tools-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


@media (max-width: 768px) {
    .tools-heading {
        font-size: 45px;
        margin-bottom: 10px;
        text-align: center;
    }

    .tools-items {
        max-width: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}