/* BrochureApply.css */
.brochure-apply {
  margin:45px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* Center align the buttons */
}

.brochure-btn,
.apply-btn {
  margin: 10px 12px;
  font-family: 'Aktiv-Bold', sans-serif;
  color: #fff;
  font-size: 23px;
  text-transform: uppercase;
  border-radius: 8px;
  width: 440px;
  height:60px;
  background-color: #016612;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.apply-btn {
  background-color: #016612;
  /* Set background color for Download Brochure button */
  border: 1px solid #016612;

}

.brochure-btn {
  border: 1px solid #016612;
  background-color: transparent;
  color: #016612;
  /* Set text color for Apply Now button */
}

.brochure-btn:hover {
  background-color: #016612;
  /* Set background color for Download Brochure button */
  color: #fff;
}

.apply-btn:hover {
  border: 1px solid #016612;
  background-color: transparent;
  color: black;
}

@media (max-width: 768px) {
  .brochure-apply {
    flex-direction: column;
    /* Display buttons in a column on mobile */
    align-items: center;
    /* Center align the buttons on mobile */
  }

  .brochure-btn,
  .apply-btn {
    font-size:19px;
    width: 327px;
    height: 56px;
    margin-left:0;
    /* Make buttons full width on mobile */
  }
}