/* BrochureApply.css */
.demo-apply {
  margin: 45px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.demo-btn,
.apply-btn {
  margin: 10px 12px;
  font-family: 'Aktiv-Bold', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
  border-radius: 8px;
  width: 440px;
  height: 60px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}


.demo-btn button{
  background-color:transparent;
  color: #016612;
  text-decoration: none;
  border-color: #016612;
}

.demo-btn button:hover{
  background-color: #016612;
  color:#fff;
}


@media (max-width: 768px) {
  .demo-apply {
    flex-direction: column;
    /* Display buttons in a column on mobile */
    align-items: center;
    /* Center align the buttons on mobile */
  }

  .demo-btn,
  .apply-btn {
    font-size: 19px;
    width: 327px;
    height: 56px;
    margin-left: 0;
    /* Make buttons full width on mobile */
  }
}