/* Placement.css */
.placement-section {
  position: relative;
}

.introduction {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-size: 23.12px;
  line-height: 32px;
  /* identical to box height, or 138% */
  letter-spacing: 0.01em;
  color: #282727;

}

.placement-heading {
  margin-top:0;
  font-family: 'Merriweather';
  font-style: black;
  line-height: 32px;
  letter-spacing: 1%;
  font-size: 47.96px;
  color: #282727;
}

/* Styles for the button container */
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0;
  gap: 37px;
  position: absolute;
  height: 780px;
  left: 407px;
  top: 160px;
}

/* Styles for the buttons */
.chat-btn,
.contact-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styles for the stats container */
.stats-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:20px;
}

.stats-item {
  margin-right: -10px;
  position: relative;
  color: #3B3C3C;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.stats-container>.stats:last-child .stats-item {
  border-right: none;
}


.number {
  font-family: 'Aktiv-bold', sans-serif;
  font-size: 57.54px;
  font-weight: 400;
  line-height: 121.23%;
  color: #3B3C3C;
}

/* Styles for the caption */
.caption {
  font-family: 'Aktiv-Regular', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  /* Set the font size */
  color: #282727;
  /* Apply text color */
}

/* Media query for mobile view */
@media (max-width: 768px) {
  .placement-heading {
    font-size: 27.96px;
  }

  .stats-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-container>.stats:nth-child(2n) .stats-item,
  .stats-container>.stats:last-child .stats-item {
    border-right: none;
    margin-left: 20px;
  }

  .number {
    font-size: 23px;
  }

  /* Styles for the caption */
  .caption {
    font-size: 16.2px;
    color: #282727;
    /* Set the font size */
  }

}