/* TitleImage.css */
.title-image {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title {
    flex-basis: 50%;
    height: 300px;
    margin-bottom: 10px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center vertically */
}

.image {
    flex-basis: 50%;
}

.title img {

    max-width: 100%;
    height: auto;
}

.image img {
    /* Group 96 */
    width: 654px;
    height: 499.6px;
    max-width: 100%;
    height: auto;
    border-radius: 48px;
    /* Adjust the value as needed */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    /* Green shadow with a blur radius of 10px */
}

@media (max-width: 768px) {

    .title,
    .image {
        margin-top: 0px;
        flex-basis: 100%;
        /* Full width on mobile */
    }

    .title {

        height: 150px;
        /* Center vertically */
    }

}