/* TitleImage.css */
.title-image {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    row-gap:30px;
}
.title {
    color:#3B3C3C;
}
.title h4 {
    margin:0;
    font-family:aktiv-bold;
    font-weight: 400;
    font-size: 47.96px;
}
.title h1 {
    margin:0;
    font-family: aktiv-bold;
    font-weight: 400;
    font-size: 82.86px;
}
.title h5 {
    margin:0;
    font-family: aktiv-light;
    font-weight:300;
    font-size: 57.54px;
    margin-left:127px;
    color:#282727;
    letter-spacing:11%;
}

.image {
    flex-basis: 50%;
}


.image img {
    /* Group 96 */
    width: 654px;
    height: 499.6px;
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {

    .image {
        margin-top: 0px;
        flex-basis: 100%;
    }

    .title {
        padding: 0;
        margin: 0;
    }
    .title h4 {
        margin:0;
        font-family:aktiv-bold;
        font-size: 27.99px;
    }
    .title h1 {
        margin:0;
        font-family:aktiv-bold;
        font-size: 40.31px;
    }
    .title h5 {
        margin:0;
        font-family:aktiv-light;
        font-weight:300;
        font-size:27.99px;
        margin-left:62px;
    }

}