.address-container {
    padding: 0px;
    background-color: #016612;
    display: flex;
    height: 380px;
    max-height: 400px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.address-section {
    color: #ffffff;
}

.address-text {
    font-family: 'Merriweather';
    font-size: 19.27px;
    line-height: 32px;
    letter-spacing: 0.005em;
    text-transform: capitalize;
}
.phone_section{
    display: flex;
    flex-direction: row;  
    column-gap:20px;
}
.phone-numbers {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather';
    font-size: 19.27px;
    line-height:30px;
    letter-spacing: 0.005em;
}
.phone-numbers > span {
    text-decoration:none
}

.separator {
    width: 1px;
    height: 200px;
    background-color: #599563;
    margin-right:25px;
}

@media (max-width: 768px) {
    .address-text {
        margin-left:15px;
        font-size:13.5px;
        line-height:22px;
    }
    .phone-numbers{
        margin-left:10px;
        padding-right:0px;
        font-size:12.5px;
    }
    .phone_section{
        column-gap:0;
    }

}