.partner-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 25px;
}

.partner-item {
    background-color: white;
    border: 1px solid rgba(110, 110, 110, 0.5);
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    /* Adjust the height as needed */
}

.partner-item img {
    max-width: 100%;
    max-height: 100%;
}

.testimonial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}



.placement {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}


/* Media query for mobile view */
@media (max-width: 768px) {
    .partner-container {
        grid-template-columns: 1fr;
    }

    .testimonial {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        margin: 25px;
    }

    .placement {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }
}