.connect-btn{
    width: 100%;
    height: 100%;
}
.connect-btn button {
    flex-wrap: block;
    width: 100%;
    height: 100%;
    font-family: 'Aktiv-Bold';
    font-size: 23px;
    border-radius: 8px;
    color: #fff;
    background-color: #016612;
    border: 1px solid transparent;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.connect-btn button:hover {
    border: 1px solid #016612;
    background-color: transparent;
    color: #016612;
}

@media (max-width: 768px) {}