.post-card {
  position: relative;
  border: 1px solid rgba(110, 110, 110, 0.5);
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 30px 65px;

}

.post-header {
  margin: 0;

}

.post-header p {
  font-size: 16px;
  color: #888;
}

.post-caption p {
  font-family: 'Merriweather';
  letter-spacing: 1;
  font-size: 23.19px;
  line-height: 36px;
  color: #282727;
}

.post-content {
  display: flex;
  flex-direction: row;
}

.python .post-content {
  padding: 25px 0;
  display: flex;
  flex-direction: row;
  /* Ensure row layout */
  justify-content: center;
  /* Center the child elements horizontally */
  align-items: center;
}

.post-content-img {
  max-width: 568px;
  max-height: 417px;
}

/* Mobile Styles */
@media (max-width: 768px) {

  .post-card {
    padding: 38px 0 0;
  }

  .post-header {
    padding: 0 15px;
  }

  .post-content {
    flex-direction: column;
    /* Change to column layout for mobile */
  }

  .post-content-img {
    max-width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }

  .post-caption p {
    font-size: 16px;
    line-height: 32px;
    margin-right: 30px;
  }

  .python .post-content {
    display: flex;
    flex-direction: column;
    /* Ensure row layout */
  }

}