.post-card {
  position: relative;
  border: 1px solid rgba(110, 110, 110, 0.5);
  /* Lighter border color with opacity */
  border-radius: 12px;
  /* Rounded corners */
  background-color: #fff;
  /* Lighter background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Shadow effect */
  padding: 20px;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 10px;
}

.post-header h2 {
  margin-bottom: 45px;
}

.post-header p {
  font-size: 16px;
  color: #888;
}

.post-content {
  display: flex;
  flex-direction: raw;
  justify-content: space-between;
}

.post-content-img {
  width: auto;
  max-width: 50vw;
  margin-right: 20px;
}
.blog-para {
  color: #282727;
  font-size: 18px;
  line-height: 2.8;
  /* Increase this value to add more space between lines */
  margin-bottom: 20px;
  list-style-type: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .post-content {
    flex-direction: column;
    /* Change to column layout for mobile */
  }

  .post-content-img {
    max-width: 100%;
    /* Ensure images occupy full width on mobile */
    margin-right: 0;
    /* Remove right margin on mobile */
    margin-bottom: 10px;
    /* Add bottom margin for spacing between image and text on mobile */
  }
}